<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                3rd year computer science student at the University of Essex. Passionatly been coding for close to a decade and seeking to expand my horizons through taking in new projects learning and adapting from discovering all endevours.   
            </p>
            <p class="paragraph-text justify-text">
                Particual interest in python 
             </p>

        </div>
    </section>
</div>
